[general]
MdlConfigVersion=3
Format=SingleTarget
;  Format {SingleTarget, MultiTarget}

[files]
BIN_001=Deployment_Artmi\bin\CombEng.rsl
CFG_001=Deployment_Artmi\cfg\CombEng.ccd
CFG_002=Deployment_Artmi\cfg\CombEng.ini




MATFILE_001=Deployment_Artmi\dat\RModelParam\mat\CombEng_00.mat


[settings]
Arguments=



Version=3.1
ModelCC=ArteLab.CombEng
Target=Cobra
UseEPT=0
UseParameterization=
Frequency=10000



[modelIO]
;IO definition - serialized string of following structure
;  Name : string
;  SystemChannelType : enum {SystemVariablePort, SystemVariableACI, SystemNormName, NormName}
;  AciChannelType : enum {Cyclic, Matrix, Event}
;  Datatype : enum {int, float, double}  
;  Dimension : string e.g. "[2,3]"
;  ConnectionRequired : boolean
Input_001_Name=CW_T_out
Input_001_Meta=SystemVariableACI|Cyclic|float|[1,1]|true
Input_002_Name=InjectionAngle
Input_002_Meta=SystemVariableACI|Cyclic|float|[1,1]|true
Input_003_Name=SparkAngle
Input_003_Meta=SystemVariableACI|Cyclic|float|[1,1]|true
Input_004_Name=ThrPos_dem
Input_004_Meta=SystemVariableACI|Cyclic|float|[1,1]|true
Input_005_Name=amb_T
Input_005_Meta=SystemVariableACI|Cyclic|float|[1,1]|true
Input_006_Name=amb_p
Input_006_Meta=SystemVariableACI|Cyclic|float|[1,1]|true
Input_007_Name=n_GBI
Input_007_Meta=SystemVariableACI|Cyclic|float|[1,1]|true
Output_001_Name=CW_dotQ_Cooling
Output_001_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_002_Name=Cyl1_T
Output_002_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_003_Name=Cyl1_p
Output_003_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_004_Name=Cyl2_T
Output_004_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_005_Name=Cyl2_p
Output_005_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_006_Name=Cyl3_T
Output_006_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_007_Name=Cyl3_p
Output_007_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_008_Name=Cyl4_T
Output_008_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_009_Name=Cyl4_p
Output_009_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_010_Name=Cyl5_T
Output_010_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_011_Name=Cyl5_p
Output_011_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_012_Name=Cyl6_T
Output_012_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_013_Name=Cyl6_p
Output_013_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_014_Name=EngTemp
Output_014_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_015_Name=T_Friction
Output_015_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_016_Name=T_crankshaft
Output_016_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_017_Name=dndt_exh
Output_017_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_018_Name=dndt_in
Output_018_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_019_Name=exhaust_T
Output_019_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_020_Name=exhaust_p
Output_020_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_021_Name=exhaust_y_C
Output_021_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_022_Name=exhaust_y_CO
Output_022_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_023_Name=exhaust_y_CO2
Output_023_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_024_Name=exhaust_y_Fuel
Output_024_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_025_Name=exhaust_y_H2
Output_025_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_026_Name=exhaust_y_H2O
Output_026_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_027_Name=exhaust_y_O2
Output_027_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_028_Name=freq_crankshaft
Output_028_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_029_Name=intake_T
Output_029_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_030_Name=intake_p
Output_030_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_031_Name=n_Fuel
Output_031_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
Output_032_Name=phi_crankshaft
Output_032_Meta=SystemVariableACI|Cyclic|float|[1,1]|false
